<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GP - Estudio Fotografico - Nosotros</title>
        <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <!--HEADER -->
        <header class = "header">
            <picture class="header__logo">
                <img src="../img/logo.png" alt="logo" class = "header__logo__img">
            </picture>
             <nav class = 'header__nav'>
                 <ul class="header__nav__ul">
                     <li class="header__nav__ul__li">
                         <a href="../index.html">Inicio</a>
                     </li>
                     <li class="header__nav__ul__li">
                        <a href="./portfolio.html">Portfolio</a>
                     </li>
                     <li class="header__nav__ul__li">
                        <a href="./servicios.html">Servicios</a>
                     </li>
                     <li class="header__nav__ul__li">
                        <a href="./nosotros.html">Nosotros</a>
                     </li>
                     <li class="header__nav__ul__li">
                        <a href="./contacto.html">Contacto</a>
                     </li>
                 </ul>
            </nav>  
        </header>
        <main class = "main">
            <section class = "box">
                <picture>
                    <img class="box__img__img" src="../img/nosotros.jpg" alt="">
                </picture>
                <h2> Nosotros </h2>
                <p>Somos una empresa de realizaciones fotográficas y cinematográficas que combina talento de jóvenes profesionales con última tecnología digital en materia de comunicación audiovisual. Esta fusión permite alcanzar producciones de excelente calidad y creatividad.
                Cuando uno piensa en las fotos y el video del evento piensa en preservar recuerdos, en revivir momentos, y Tres Cuartos brinda todo eso, la oportunidad de volver a emocionarse de lo que tan rápido aconteció. Pero nuestro desafío va más allá: Nuestra intención no es sólo rememorar, sino redescubrir, observar diferente, ser la mirada omnisciente y artística del 
                    Nuestro lema en un evento es “estar y no estar”, documentar sin interferir. Es por estos conceptos que necesitamos contar con herramientas de punta, cámaras muy sensibles a bajas luces y lentes muy luminosas que nos permiten trabajar con lo mínimo de luz. De esta forma también logramos que se aprecie la luz ambiente propia del lugar, la calidez, los colores.
                    En Estudio Tres Cuartos vas a encontrar un espacio exclusivo, pensado y desarrollado para concretar tu idea o proyecto, logrando trabajos que perduren en el tiempo.</p>  
            </section>        
        </main>
        <!--HEADER -->
        <footer class="footer">
            <p class="footer__reserved">©2022 GP Estudio Fotográfico</p>
            <div class="redes">
            <H3 class="redes__title">Seguinos en nuestras redes</H3>
            <ul class="footer__ul">
                <li><img src="https://static.wixstatic.com/media/ce6ec7c11b174c0581e20f42bb865ce3.png/v1/fill/w_44,h_44,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ce6ec7c11b174c0581e20f42bb865ce3.png" alt="Facebook - Gris Círculo" style="width:35px;height:35px;object-fit:cover;object-position:50% 50%"></li>
                <li><img src="https://static.wixstatic.com/media/fdcfaba150fc427da298a00cb09d91c1.png/v1/fill/w_44,h_44,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/fdcfaba150fc427da298a00cb09d91c1.png" alt="Instagram - Gris Círculo" style="width:35px;height:35px;object-fit:cover;object-position:50% 50%"></li>
            </ul>
            </div>
        </footer>
</body>
</html>